<section class="feature-section">
  <div class="feature-container">

    <!-- TEXT SLIDER -->
    <div class="feature-content-window">
      <div class="feature-text-track" id="verticalTrack">

        {% for block in section.blocks %}
          <div class="content-block {% if forloop.first %}active{% endif %}" {{ block.shopify_attributes }}>
            
            <h2>{{ block.settings.heading }}</h2>

            <p>{{ block.settings.description }}</p>

            {% if block.settings.button_text != blank %}
              <a href="{{ block.settings.button_link }}" class="btn-read-more">
                {{ block.settings.button_text }}
              </a>
            {% endif %}

          </div>
        {% endfor %}

      </div>
    </div>

    <!-- IMAGE + DOTS -->
    <div class="feature-image-wrapper">

     <div class="feature-images">

  {% for block in section.blocks %}
    {% if block.settings.image != blank %}
      <img 
        src="{{ block.settings.image | image_url }}" 
        class="feature-img {% if forloop.first %}active{% endif %}"
      >
    {% endif %}
  {% endfor %}

</div>

      <div class="side-dots">
        {% for block in section.blocks %}
          <span 
            class="s-dot {% if forloop.first %}active{% endif %}" 
            onclick="moveVerticalSlider({{ forloop.index0 }})">
          </span>
        {% endfor %}
      </div>

    </div>

  </div>
</section>

{% schema %}
{
  "name": "Feature Capsules",
  "settings": [],
  "blocks": [
    {
      "type": "feature_item",
      "name": "Feature Item",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Clifton Capsules"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default": "Write your description here..."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Read More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Feature Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Capsules",
      "blocks": [
        { "type": "feature_item" },
        { "type": "feature_item" },
        { "type": "feature_item" },
        { "type": "feature_item" }
      ]
    }
  ]
}
{% endschema %}